html,
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

.container {
  max-width: 1200px;
  margin: 80px auto 0 auto;
}

.nav-container {
  margin: auto;
}

a {
  text-decoration: none;
}
